* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

/*header start*/
header {
  border-bottom: 1px solid #e7e9fc;
}

.header-box {
  display: flex;
}

header nav {
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}

header address {
  display: flex;
}

.logo-leftside {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-rightside {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-list-items {
  display: flex;
  gap: 40px;
}

.contact-list-items {
  display: flex;
  gap: 40px;
}

.header-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-list:hover {
  color: #404bbf;
}

.header-list:focus {
  color: #404bbf;
}

.addresses {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 100px;
}

.addresses:hover {
  color: #404bbf;
}

.addresses:focus {
  color: #404bbf;
}
/*header end*/

/*first section start*/
.top-box {
  background-color: #2e2f42;
  margin-bottom: 120px;
  margin-left: 125px;
  margin-right: 125px;
  padding: 188px 0;
}

.top-box-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: auto 0;
  max-width: 496px;
  margin-left: 300px;
}

.top-box-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.top-box-button:hover {
  background-color: #404bbf;
}

.top-box-button:focus {
  background-color: #404bbf;
}
/*first section end*/

/*second section start*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.general-info {
  padding: 120px 0;
}

.general-info-list {
  display: flex;
  width: 1128px;
  height: 104px;
  gap: 24px;
  margin-bottom: 120px;
}

.general-info-list-items {
  width: calc((100% - 72px) / 4);
}

.general-info-header {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.general-info-prgrph {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
/*second section end*/

/*third section start*/
.our-team-sec {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-header {
  color: #2e2f42;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}

.team-members {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name-title {
  padding: 32px 0;
}

.name-surname {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.person-title {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}
/*third section end*/

/*fourth section start*/
.our-portfolio-sec {
  padding: 120px 0;
}

.our-portfolio-header {
  color: #2e2f42;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list-items {
  width: calc((100% - 72px) / 4);
  flex: 1 1 calc(33.333% - 20px);
}

.portfolio-item-details {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.our-portfolio-list-items img {
  width: 100%;
}

.portfolio-h {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.our-portfolio-prgrph {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  margin-bottom: 48px;
}
/*fourth section end*/

/*footer start*/
.bottom-box {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-leftside {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-otherrightside {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-prgrph {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-top: 50px;
  max-width: 264px;
  height: 72px;
}
/*footer end*/
